[submodule "kernel"]
	path = kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "userspace/glibc"]
	path = userspace/glibc
	url = git@github.com:Kybernado/glibc.git
[submodule "userspace/readline"]
	path = userspace/readline
	url = https://git.savannah.gnu.org/git/readline.git/
[submodule "userspace/ncurses"]
	path = userspace/ncurses
	url = https://github.com/mirror/ncurses
[submodule "userspace/zlib"]
	path = userspace/zlib
	url = https://github.com/madler/zlib
[submodule "userspace/zstd"]
	path = userspace/zstd
	url = https://github.com/facebook/zstd
[submodule "userspace/attr"]
	path = userspace/attr
	url = https://git.savannah.nongnu.org/git/attr.git
[submodule "userspace/libcap"]
	path = userspace/libcap
	url = https://git.kernel.org/pub/scm/libs/libcap/libcap.git
[submodule "userspace/bash"]
	path = userspace/bash
	url = https://git.savannah.gnu.org/git/bash.git/
[submodule "userspace/acl"]
	path = userspace/acl
	url = https://git.savannah.nongnu.org/git/acl.git
[submodule "userspace/util-linux"]
	path = userspace/util-linux
	url = https://github.com/util-linux/util-linux.git
[submodule "userspace/sinit"]
	path = userspace/sinit
	url = git://git.suckless.org/sinit
[submodule "userspace/coreutils"]
	path = userspace/coreutils
	url = git://git.sv.gnu.org/coreutils
[submodule "userspace/gcc"]
	path = userspace/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "userspace/upm"]
	path = userspace/upm
	url = git@github.com:Kybernado/upm.git
[submodule "userspace/bzip2"]
	path = userspace/bzip2
	url = git://sourceware.org/git/bzip2.git
